.experience {
  margin: 0 0 3rem;

  &:last-child {
    margin: 0;
  }

  &__agency {
    font-size: 1.5rem;
    margin: 0 0;
    line-height: 1.6;

    a {
      @extend %link-hover;
    }
  }

  &__time {
    @include typo(1.3rem, 1);
    font-weight: 300;
    color: #A1A1B8;
    margin-top: 0.6rem;
    display: block;
  }

  &__location, &__role {
    line-height: 1.618;
  }

  &__role {
    margin: 0 0 1.6rem;

    &:last-child {
      margin: 0;
    }
  }
}