.social {
  position: relative;
  z-index: 20;
  margin-top: 2.8rem;

  &__link {
    @extend %link-hover;
    padding: 0.5rem;

    & svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: white;

      @include respond-to('small') {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}