/**
 * 0.625em = 10px = 1rem
 */
html {
  font-size: 0.625em;
}

body {
  background-color: #FFF;
  overflow-x: hidden;
  overflow-y: hidden;
}

p {
  margin-bottom: 1.7rem;
}

a {
  text-decoration: none;
}