/// Prefix a property
/// @author Muhammed Sari
/// @param {String} $property - Property name
/// @param {*} $value - Property value
@mixin prefix($property, $val) {
  $prefixes: ('webkit', 'moz', 'ms', 'o');
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $val;
  }
  #{$property}: $val;
}

/// Font face for TTF
/// @author Muhammed Sari
/// @param {String} $name - Font name
/// @param {String} $style - Font style
/// @param {*} $weight - Font weight
/// @param {String} $file - Font's file name
@mixin font-face($name, $style, $weight, $file) {
  font-family: $name;
  font-style: $style;
  font-weight: $weight;
  src: url('../fonts/#{$file}.ttf') format("ttf");
}

/// Media query for given breakpoint
/// @author Muhammed Sari
/// @param {String} $breakpoint - The breakpoint
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content
    }
  }
}