/// Font family for headings
/// @type List
$headings-font-stack: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Font family
/// @type List
$font-stack: 'Segoe UI', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Primary color
/// @type Color
$primary-color: #2A54F5 !default;

/// Secondary color
/// @type Color
$secondary-color: #3EE6BF !default;

/// Text color
/// @type Color
$text-color: #3D3D50 !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 33.75em,
  'medium': 48em,
  'large': 64em,
  'xl': 71.25em,
  'xxl': 82.5em
) !default;